[Unit]
Description=Restore Keyboard Backlight
After=suspend.target sleep.target hibernate.target hybrid-sleep.target

[Service]
Type=oneshot
ExecStart=/usr/bin/restore_kbd_backlight.sh save
ExecStop=/usr/bin/restore_kbd_backlight.sh restore

[Install]
WantedBy=suspend.target sleep.target hibernate.target hybrid-sleep.target