[Unit]
Description=Restore Keyboard Backlight
After=suspend.target

[Service]
Type=oneshot
ExecStart=cp /sys/class/leds/asus::kbd_backlight/brightness /etc/keyboard/brightness
ExecStop=cp /etc/keyboard/brightness /sys/class/leds/asus::kbd_backlight/brightness

[Install]
WantedBy=suspend.target
